* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

.main {
  padding: 90px 0px 30px 0px;
}

.main__section {
  padding: 30px;
  margin: 0 auto;
  min-height: 60vh;
}

.main__section:nth-of-type(n+1) {
  background: #d6c4f7;
}

.main__section:nth-of-type(n+2) {
  background: #61caf0;
}

.main__section:nth-of-type(n+3) {
  background: #eadbd7;
}

.main__title {
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: 700;
  word-wrap: break-word;
}

.main__text {
  font-size: 16px;
  line-height: 150%;
}

.main__subtitle {
  word-wrap: break-word;
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: 600;
}

.appoint {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appoint span {
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 6px;
}

@media (max-width: 992px) {
  .appoint {
    margin-right: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    z-index: 1;
  }
  .appoint span {
    display: none;
  }
}

.appoint__phone {
  font-size: 18px;
  line-height: 130%;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.appoint__phone:before {
  margin-right: 6px;
}

@media (any-hover: hover) {
  .appoint__phone:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 992px) {
  .appoint__phone:before {
    font-size: 26px;
    margin-right: 10px;
  }
}

.appoint__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.appoint__social {
  margin: 0 5px;
  width: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.appoint__social img {
  max-width: 100%;
}

@media (any-hover: hover) {
  .appoint__social:hover {
    opacity: 0.5;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
  background: #fff;
  max-width: 1640px;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header:after, .header:before {
  content: "";
  display: block;
  width: 1px;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
}

.header:after {
  left: 20px;
}

.header:before {
  right: 20px;
}

@media (max-width: 1200px) {
  .header {
    padding: 0;
  }
  .header:after, .header:before {
    display: none;
  }
}

.header__container {
  position: relative;
}

.header__top {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .header__top {
    padding: 10px 0;
  }
}

.header__logo {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  line-height: 130%;
  color: #333;
  text-transform: uppercase;
  margin-right: 10px;
}

.header__logo span {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .header__logo:hover span {
    color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1200px) {
  .header__logo {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    margin-right: auto;
    z-index: 5;
  }
}

.header__image {
  height: 60px;
  width: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.header__image img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .header__image {
    height: 40px;
    width: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
}

.header__link {
  font-weight: 600;
  margin-right: 20px;
  font-size: 18px;
  line-height: 130%;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__link::before {
  font-size: 30px;
  padding-right: 10px;
}

@media (any-hover: hover) {
  .header__link:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 992px) {
  .header__link {
    position: relative;
    z-index: 1;
  }
  .header__link span {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.header__mobile-link {
  display: none;
}

@media (max-width: 767px) {
  .header__mobile-link {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .header__mobile-link:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .header__appoint {
    display: none;
  }
}

.header__mobile-appoint {
  display: none;
}

@media (max-width: 767px) {
  .header__mobile-appoint {
    margin-top: 20px;
    padding-top: 30px;
    margin-right: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .header__mobile-appoint:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 200%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: #fff;
  }
  .header__mobile-appoint span {
    display: block;
    color: #fff;
  }
  .header__mobile-appoint .appoint__phone {
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6px;
  }
  .header__mobile-appoint .appoint__phone span {
    font-size: 22px;
  }
}

.header__icon {
  display: none;
}

@media (max-width: 992px) {
  .header__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 16px;
    cursor: pointer;
  }
  .header__icon::after, .header__icon::before {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #333;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -70%);
            transform: rotate(-45deg) translate(0, -70%);
  }
  .header__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 70%);
            transform: rotate(45deg) translate(0, 70%);
  }
}

.header__bottom {
  background: #333;
}

.menu {
  padding: 10px;
}

@media (max-width: 992px) {
  .menu {
    position: fixed;
    top: 0;
    left: -101%;
    width: 101vw;
    height: 100vh;
    background: rgba(32, 32, 32, 0.98);
    padding: 100px 30px 40px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: #fff;
    z-index: 1;
  }
  .menu._active {
    left: -1%;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list > li {
  padding: 10px 0;
  position: relative;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
}

@media (max-width: 767px) {
  .menu__list {
    margin-bottom: 30px;
  }
}

.menu__link {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  line-height: 130%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

@media (any-hover: hover) {
  .menu__link:hover {
    opacity: 1;
  }
  .menu__link:hover + .menu__arrow {
    border-top: 5px solid white;
  }
}

@media (max-width: 992px) {
  .menu__link {
    font-size: 24px;
  }
}

.menu__arrow {
  -webkit-transition: border-top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: border-top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, border-top 0.3s ease 0s;
  transition: transform 0.3s ease 0s, border-top 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  margin: 0px 0px 0px 5px;
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.7);
}

@media (max-width: 992px) {
  .menu__arrow {
    margin-left: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: -20px;
  background: #333;
  padding: 15px 20px;
  min-width: 200px;
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

@media (max-width: 992px) {
  .menu__sub-list {
    position: relative;
    background: #fff;
    left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 10px 0px 0px 0px;
    display: none;
  }
}

.menu__sub-link {
  color: #fff;
  opacity: 0.7;
  line-height: 130%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

@media (any-hover: hover) {
  .menu__sub-link:hover {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .menu__sub-link {
    font-size: 20px;
    color: #333;
  }
}

.menu__mobile {
  display: none;
}

@media (max-width: 767px) {
  .menu__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@font-face {
  font-family: "cassiopeia";
  src: url("../fonts/cassiopeia.ttf?dlzeao") format("truetype"), url("../fonts/cassiopeia.woff?dlzeao") format("woff"), url("../fonts/cassiopeia.svg?dlzeao#cassiopeia") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "cassiopeia" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-tg:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-fb:before {
  content: "\e902";
}

._icon-ok:before {
  content: "\e903";
}

._icon-vk:before {
  content: "\e904";
}

._icon-youtube:before {
  content: "\e905";
}

._icon-pinterest:before {
  content: "\e906";
}

._icon-donation:before {
  content: "\e907";
}

._icon-radio:before {
  content: "\e908";
  position: relative;
  top: -5px;
}

@media (max-width: 767px) {
  ._icon-radio:before {
    top: 0;
  }
}

._icon-phone:before {
  content: "\e909";
}

._icon-school:before {
  content: "\e90a";
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 0 20px;
  color: #333;
}

body.scroll-down header {
  -webkit-transform: translate3d(-50%, -100%, 0);
          transform: translate3d(-50%, -100%, 0);
}

@media (max-width: 1200px) {
  body {
    padding: 0;
  }
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._pc .menu__list > li:hover .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body._touch .menu__link {
  opacity: 1;
}

body._touch .menu__sub-link {
  opacity: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  border-top: 5px solid white;
}

@media (max-width: 992px) {
  body._touch .menu__arrow {
    border-top: 10px solid white;
  }
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (max-width: 992px) {
  body._lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .wrapper {
    border: 0;
  }
}

.container {
  padding: 0 20px;
  max-width: 1500px;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

footer {
  background: #000;
  height: 50px;
}
