.footer {
	&__top {
		padding: 20px 0;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		margin: 0 -10px;
	}

	&__link {
		color: #333;
		line-height: 130%;
		font-size: 16px;
		font-weight: 600;
		display: inline-block;
		padding: 10px;
		opacity: 1;
		transition: opacity 0.3s ease 0s;
		@media (max-width:767px) {
			padding: 5px;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.6;
			}
		}
	}

	&__bottom {
		padding: 20px 0 40px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:767px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&__logo {
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		line-height: 130%;
		color: #333;
		text-transform: uppercase;
		margin-right: 10px;
		span {
			transition: color 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		@media (max-width: 1200px) {
			font-size: 22px;
		}
	}

	&__image {
		height: 60px;
		width: 60px;
		flex: 0 0 60px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 10px;
		img {
			max-width: 100%;
		}
		@media (max-width: 1200px) {
			height: 40px;
			width: 40px;
			flex: 0 0 40px;
		}
	}

	&__privacy {
		flex: 0 0 33.333%;
		text-align: right;
		color: #333;
		line-height: 130%;
		font-size: 16px;
		a{
			text-decoration: underline;
			color: #333;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
		@media (max-width:992px) {
			flex: 1 1 auto;
		}
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}