.appoint {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	span {
		font-size: 14px;
		line-height: 130%;
		margin-bottom: 6px;
	}
	@media (max-width: 992px) {
		margin-right: 20px;
		flex-direction: row;
		position: relative;
		z-index: 1;
		span {
			display: none;
		}
	}
	&__phone {
		font-size: 18px;
		line-height: 130%;
		color: #333;
		display: flex;
		font-weight: 600;
		transition: color 0.3s ease 0s;
		&:before {
			margin-right: 6px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgba(0, 0, 0, 0.5);
			}
		}
		@media (max-width: 992px) {
			&:before {
				font-size: 26px;
				margin-right: 10px;
			}
		}
	}

	&__socials {
		display: flex;
	}

	&__social {
		margin: 0 5px;
		width: 30px;
		flex: 0 0 30px;
		border-radius: 50%;
		overflow: hidden;
		opacity: 1;
		transition: opacity 0.3s ease 0s;
		img {
			max-width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.5;
			}
		}
	}
}
.header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	z-index: 10;
	background: #fff;
	max-width: 1640px;
	padding: 0 20px;
	transition: all 0.3s ease-in-out 0s;
	&:after,
	&:before {
		content: "";
		display: block;
		width: 1px;
		min-height: 100%;
		background: rgba(0, 0, 0, 0.1);
		position: absolute;
		top: 0;
	}

	&:after {
		left: 20px;
	}

	&:before {
		right: 20px;
	}

	@media (max-width: 1200px) {
		padding: 0;
		&:after,
		&:before {
			display: none;
		}
	}

	&__container {
		position: relative;
	}

	&__top {
		padding: 15px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 992px) {
			padding: 10px 0;
		}
	}

	&__logo {
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		line-height: 130%;
		color: #333;
		text-transform: uppercase;
		margin-right: 10px;
		span {
			transition: color 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		@media (max-width: 1200px) {
			font-size: 22px;
		}
		@media (max-width: 992px) {
			margin-right: auto;
			z-index: 5;
		}
	}

	&__image {
		height: 60px;
		width: 60px;
		flex: 0 0 60px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 10px;
		img {
			max-width: 100%;
		}
		@media (max-width: 1200px) {
			height: 40px;
			width: 40px;
			flex: 0 0 40px;
		}
	}

	&__link {
		font-weight: 600;
		margin-right: 20px;
		font-size: 18px;
		line-height: 130%;
		color: #333;
		display: flex;
		align-items: center;
		position: relative;
		transition: color 0.3s ease 0s;
		&::before {
			font-size: 30px;
			padding-right: 10px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: rgba(0, 0, 0, 0.5);
			}
		}
		@media (max-width: 992px) {
			position: relative;
			z-index: 1;
			span {
				display: none;
			}
		}
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__mobile-link {
		display: none;
		@media (max-width: 767px) {
			display: block;
			color: #fff;
			font-size: 20px;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}

	&__appoint {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__mobile-appoint {
		display: none;
		@media (max-width: 767px) {
			margin-top: 20px;
			padding-top: 30px;
			margin-right: 0;
			text-align: left;
			display: flex;
			flex-direction: column;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				height: 1px;
				width: 200%;
				transform: translate(-50%,0);
				background: #fff;
			}
			span {
				display: block;
				color: #fff;
			}
			.appoint__phone{
				color: #fff;
				align-items: center;
				margin-bottom: 6px;
				span{
					font-size: 22px;
				}
			}
		}
	}

	&__icon {
		display: none;
		@media (max-width: 992px) {
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 16px;
			cursor: pointer;
			&::after,
			&::before {
				content: "";
				position: absolute;
				left: 0;
				height: 3px;
				width: 100%;
				transition: all 0.3s ease 0s;
				background: #333;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			&._active {
				&::before {
					top: 50%;
					transform: rotate(-45deg) translate(0, -70%);
				}
				&::after {
					bottom: 50%;
					transform: rotate(45deg) translate(0, 70%);
				}
			}
		}
	}

	&__bottom {
		background: #333;
	}
}
.menu {
	padding: 10px;
	@media (max-width: 992px) {
		position: fixed;
		top: 0;
		left: -101%;
		width: 101vw;
		height: 100vh;
		background: rgba(32, 32, 32, 0.98);
		padding: 100px 30px 40px 30px;
		transition: left 0.3s ease 0s;
		overflow-y: auto;
		overflow-x: hidden;
		&:before {
			content: "";
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 60px;
			background: #fff;
			z-index: 1;
		}
		&._active {
			left: -1%;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > li {
			padding: 10px 0;
			position: relative;
			margin: 0 10px;
			display: flex;
			align-items: center;
		}
		@media (max-width: 992px) {
			flex-direction: column;
			align-items: stretch;
			& > li {
				flex-wrap: wrap;
				margin: 0px 0px 10px 0px;
				&:last-child {
					margin-bottom: 0;
				}
				&._active {
					.menu__sub-list {
						display: block;
					}
				}
			}
		}
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}

	&__link {
		font-size: 16px;
		color: #fff;
		opacity: 0.7;
		line-height: 130%;
		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
				& + .menu__arrow {
					border-top: 5px solid rgba(255, 255, 255, 1);
				}
			}
		}
		@media (max-width: 992px) {
			font-size: 24px;
		}
	}

	&__arrow {
		transition: transform 0.3s ease 0s, border-top 0.3s ease 0s;
		margin: 0px 0px 0px 5px;
		display: block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid rgba(255, 255, 255, 0.7);
		@media (max-width: 992px) {
			margin-left: auto;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
		}
	}

	&__sub-list {
		position: absolute;
		top: 100%;
		left: -20px;
		background: #333;
		padding: 15px 20px;
		min-width: 200px;
		transform: translate(0, 10%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		pointer-events: none;
		li {
			margin: 0px 0px 10px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: 992px) {
			position: relative;
			background: #fff;
			left: 0;
			flex: 1 1 100%;
			margin: 10px 0px 0px 0px;
			display: none;
		}
	}

	&__sub-link {
		color: #fff;
		opacity: 0.7;
		line-height: 130%;
		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
		@media (max-width: 992px) {
			font-size: 20px;
			color: #333;
		}
	}

	&__mobile {
		display: none;
		@media (max-width: 767px) {
			display: flex;
			flex-direction: column;
		}
	}
}

