.main {
	padding: 90px 0px 30px 0px;
	&__section {
		padding: 30px;
		margin: 0 auto;
		min-height: 60vh;
		&:nth-of-type(n+1){
			background: #d6c4f7;
		}
		&:nth-of-type(n+2){
			background: #61caf0;
		}
		&:nth-of-type(n+3){
			background: #eadbd7;
		}
	}

	&__title {
		margin: 0 0 20px 0;
		font-size: 30px;
		font-weight: 700;
		word-wrap: break-word;
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
	}

	&__subtitle {
		word-wrap: break-word;
		margin: 0 0 20px 0;
		font-size: 22px;
		font-weight: 600;
	}
}
